[submodule ".vim/pack/vim-plugins/start/nerdtree"]
	path = .vim/pack/vim-plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/vim-plugins/start/vim-colors-solarized"]
	path = .vim/pack/vim-plugins/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
